body{
    background-color: olivedrab;
    color:aliceblue;
}

section{
    text-align: center;
}

h1{
    font-size: 175px;
    color: rgb(138, 181, 54);
}

p {
    font-size: 75px;
}

button{
    font-size: 20px;
    background-color:  rgb(138, 181, 54);
    color:rgb(189, 189, 189);
}